  body {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: black;
    background: url("img/background.jpg");
    background-color: black;
    background-size: stretch;
    transform: scale(1);
    transform-origin: 0 0;
  }

  @media only screen and (max-width: 600px) {
    body {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 0.15fr 0.85fr;
      background-color: black;
      background: url("img/background.jpg");
      background-color: black;
      background-size: fill;
    }
  }

@media only screen and (min-width: 1080px) {

  .info {
    width: 100%;
    margin: 0 300px 0 600px;
  }
}

  #board {
      display: grid;
      margin: 0 auto;
      grid-template-columns: auto auto auto auto auto auto auto auto;
      width: 70%;
      grid-column: 1;
  }
  .cell {
      font-family: 'Lato', sans-serif;;
      width: 100px;
      height: 100px;
      border: 2px solid rgb(19, 1, 180);
      border-radius: 20px;
      cursor: grab;
      text-align: center;
      background-color: rgb(146, 175, 255);
  }
  .active-cell {
    font-family: 'Lato', sans-serif;;
    width: 100px;
    height: 100px;
    border: 2px solid rgb(19, 1, 180);
    border-radius: 20px;
    cursor: grab;
    line-height: 100px;
    font-size: 60px;
    text-align: center;
    background-color:black;
}
  .main-text{
    grid-column: 1 / span 3;
    text-align: center;
    font-family: 'Lato', sans-serif;;
    color: white;
    font-size: 40px;
  }
  #message {
    color: white;
  }
  #title {
    grid-column: 1 / span 3;
    font-weight: bold;
    font-family: 'Lato', sans-serif;;
    font-size: 150px;
    color: white;
    background-color: rgb(6, 28, 74);
    margin: 0 0 -30px 0;
  }

.info {
  width: 80%;
  margin: 0 300px 0 0;
}

#reset {
    cursor: pointer;
    border-radius: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    margin: 650px 0px 0 150px;
    font-size: 50px;
    grid-column: 3 / 3;
    grid-row: 3;
    width: 40%;
    height: 10%;
    font-weight: bold;
    background-color:rgb(11, 45, 119);
    color: white;
  }
#player-score {
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 70px;
    padding: 0 200px 0 0px;
    grid-column: 3 / 3;
    grid-row: 3;
    text-align: center;
  }
  #computer-score {
    color: white;
    font-family: 'Lato', sans-serif;;
    font-weight: bold;
    font-size: 70px;
    padding: 150px 200px 0 0px;
    grid-column: 3 / 3;
    grid-row: 3;
    text-align: center;
  }
  #current-turn {
      display: inline;
      color: white;
      font-family: 'Lato', sans-serif;;
      font-weight: bold;
      font-size: 70px;
      padding: 300px 0px 0 150px;
      grid-column: 3 / 3;
      grid-row: 3;
      width: 40%;
      text-align: center;
  }

  img {
    padding: 10px 0 0 0;
    width: 70%;
    height: auto;
  }