body {
  display: flex;
  font-weight: bold;
  flex-direction: column;
  font-family: 'Lato', sans-serif;;
  background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5); 
  height: 100vh;
  grid-template-columns: 1fr 1fr;
}

body > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

#title {
  font-size: 50px;
  color: white;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  margin: 2rem auto;
  padding: 1rem;
}

#board {
  display: grid;
  grid-template-columns: repeat(8, auto);
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}
  

.cell, 
.active-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 65px;
  border-radius: 10px;
}

@media (max-width: 768px) {

  .cell, 
  .active-cell {
    width: 50px;
    height: 50px;
  }

  body {
    background: linear-gradient(to right, rgb(54, 32, 8), #49dbff);  
  }

  #title {
    margin: 0;
  }

}

.cell {
  cursor: default;
  background-color: rgb(146, 175, 255);
}

.active-cell {
  cursor: grab;
  background-color:black;
} 

.white, .red, .kingWhite, .kingRed {
  width: 70%;
  height: auto;
}

#reset {
  cursor: pointer;
  border-radius: 30px;
  font-size: 50px;
  width: 200px;
  height: 100px;
  background-color: black;
  color: white;
}

#red-score.info, #white-score.info {
  color: white;
  font-size: 40px;
  padding: 25px 0px 0px 0px;
  width: 200px;
  height: 75px;
  text-align: center;
}

#red-score img,
#white-score img {
  width: 2rem;
}

#current-turn.info {
  color: white;
  border-radius: 25px;
  padding: 25px 0px 0px 0px;
  font-size: 40px;
  width: 165px;
  height: 175px;
  text-align: center;
}

#score-info {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  padding: 1rem;
}

#score-info > div {
  display: flex;
  justify-content: space-around;
}